body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navbar {
  color: white;
  background-color: black;
  display: flex;
  width: 100%;
  align-self: flex-start;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
  max-width: 400px;
}

.landing-group,
.input-group,
.output-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.landing-group {
  text-align: center;
  text-wrap: wrap;
}

#feature-input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.output-group {
  align-items: flex-start;
}

.output-group p {
  min-height: 100px;
  background-color: #f0f0f0;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
}

.divider {
  height: 1px;
  background-color: #ccc;
  width: 100%;
  margin: 5px 0;
}

#generate-button,
#copy-button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

#generate-button {
  padding: 10px;
  font-size: 16px;
}

#copy-button {
  padding: 5px 10px;
  font-size: 14px;
}
